.answer-btn {
  padding: 1rem 2rem;
  width: 100%;
  margin: 0.2rem;
  border: none;
  border-radius: 5px;

  text-align: left;
  cursor: pointer;
}

.answer-btn span {
  border: 1px solid #70bcef;
  padding: 0 3px;
  margin-right: 0.5rem;
}
.answer-btn:hover {
  opacity: 0.6;
}

.selected-answer {
  background-color: #b2edff;
}
